p 非常感谢您申请注册课程盒子，以下为注册邀请链接

p = link_to accept_invitation_url(@resource, :invitation_token => @resource.invitation_token), accept_invitation_url(@resource, :invitation_token => @resource.invitation_token), title: '接受邀请'

p 课程盒子是一个课程平台，专注于为组织者提供便利的课程发布、推广、售票等免费服务。现在您可以在课程盒子进行发布课程，签到等操作。

p
  |如需帮助，请发邮件到
  = link_to 'mahb45@gmail.com', 'mailto:mahb45@gmail.com'

p 课程盒子 saberma
br

p ---
a href='http://shinebox.cn' http://shinebox.cn
br
a href='https://github.com/lytsing/shinebox' https://github.com/lytsing/shinebox
